html, body, #root, .App
{
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.main-container {
  height: calc(100% - 56px);
  width: 100%;
  position: absolute;
  background-color: #151515;
  /* center vertical/horizontal */
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-area {
  width: 15em;
}
